<div class="contact t-contact scroll-to-block">

              <div class="container">
            <div class="region region-onepage-contact-header">
    <div id="block-block-35" class="t-title-block block block-block">

    <img src="/assets/ico7.png" alt="img">
  <h2 class="block-title t-about-title" >How to find us</h2>
  
  <div class="sub-title t-sub-title">
    <p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus.</p>
  </div>
</div>  
        </div>
        </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8065412332803!2d108.15146261400956!3d16.075525788877083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218d68dff9545%3A0x714561e9f3a7292c!2sDanang+University+of+Technology!5e0!3m2!1svi!2s!4v1516807397758" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            
        <div class="addresses-block">
            <a data-lat="43.653226" data-lng="-79.383184" data-string="1. Here is some address or email or phone or something else..."></a>
        </div>


              <div class="container contact-us t-contact-us"><div class="row">
                      <div class="col-md-4 contact-info">
                <div class="region region-onepage-contact-details">
    <div id="block-block-34" class="block block-block">

    
  <div class="content">
    <h5>Address</h5>
<p>54 Nguyen Luong Bang Street, Lien Chieu District, Da Nang City</p>

<h5>Call Us</h5>
<a class="phone" href="tel:+841287073046">+84 1287 073 046</a>

<h5>Email</h5>
<p><a class="mail-us" href="mailto:ducvinhnguyen2609@gmail.com">dntours123@gmail.com</a></p>  </div>
</div>
  </div>
            </div>
                                <div class="col-md-8">
                <div class="region region-onepage-contact">
    <div id="block-webform-client-block-32" class="block block-webform">

    
  <div class="content">
    <div id="webform-ajax-wrapper-32"><form class="webform-client-form webform-client-form-32" enctype="multipart/form-data" action="http://demo.createdbycocoon.com/drupal/nine/nrgtravel/1/" method="post" id="webform-client-form-32" accept-charset="UTF-8"><div><div  class="form-item webform-component webform-component-textfield webform-component--name">
  <label class="element-invisible" for="edit-submitted-name">Name <span class="form-required" title="This field is required.">*</span></label>
 <input required="required" placeholder="Name" type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128" class="form-text required" />
</div>
<div  class="form-item webform-component webform-component-email webform-component--email">
  <label class="element-invisible" for="edit-submitted-email">Email <span class="form-required" title="This field is required.">*</span></label>
 <input required="required" class="email form-text form-email required" placeholder="Email" type="email" id="edit-submitted-email" name="submitted[email]" size="60" />
</div>
<div  class="form-item webform-component webform-component-textfield webform-component--subject">
  <label class="element-invisible" for="edit-submitted-subject">Subject <span class="form-required" title="This field is required.">*</span></label>
 <input required="required" placeholder="Subject" type="text" id="edit-submitted-subject" name="submitted[subject]" value="" size="60" maxlength="128" class="form-text required" />
</div>
<div  class="form-item webform-component webform-component-textfield webform-component--phone">
  <label class="element-invisible" for="edit-submitted-phone">Phone </label>
 <input placeholder="Contact phone" type="text" id="edit-submitted-phone" name="submitted[phone]" value="" size="60" maxlength="128" class="form-text" />
</div>
<div  class="form-item webform-component webform-component-textarea webform-component--message">
  <label class="element-invisible" for="edit-submitted-message">Message <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-textarea-wrapper"><textarea required="required" placeholder="Message" id="edit-submitted-message" name="submitted[message]" cols="60" rows="5" class="form-textarea required"></textarea></div>
</div>
<input type="hidden" name="details[sid]" />
<input type="hidden" name="details[page_num]" value="1" />
<input type="hidden" name="details[page_count]" value="1" />
<input type="hidden" name="details[finished]" value="0" />
<input type="hidden" name="form_build_id" value="form-FVomgWV68VeGXIBxZAZ6YWcIETBximTYyVU6cSs-tS0" />
<input type="hidden" name="form_id" value="webform_client_form_32" />
<input type="hidden" name="webform_ajax_wrapper_id" value="webform-ajax-wrapper-32" />
<div class="form-actions"><input class="webform-submit button-primary send" type="submit" id="edit-webform-ajax-submit-32" name="op" value="Submit" /></div></div></form></div>  </div>
</div>
  </div>
            </div>
                  </div></div>
      
  </div>