<section class="t-about scroll-to-block">
    <div class="container clearfix">
      <div class="t-about-img-box">
      				<%= image_tag("about-img_0.png", class: "t-about-img", :alt => "img") %>
                  
              </div>
      <div class="t-about-info-box">
        <div class="t-about-info">
          <h2 class="block-title t-about-title">INTRODUCE</h2>
          <p class="sub-title t-sub-title">
            Website booking tour in Danang
            <br>
            
            </p>
        </div>
      </div>
    </div>
  </section>