<div class="region region-onepage-testimonials">
    <div id="block-views-a4289a204a84031d39c09c337a4bbef9" class="block block-views">

    
  <div class="content">
    <section class="t-review-section scroll-to-block">
            <div class="t-title-block">
      <%= image_tag("trico6.png", :alt => "img") %>
      <h2 class="block-title t-about-title">Team members</h2>
<p class="sub-title t-sub-title">
  Together make this Website
</p>    </div>
  
  <div class="testimonials-container">
              
  
  
      <div class="swiper-container testimonials-slider" data-loop="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="5" data-md-slides="7" data-lg-slides="7"  data-mode="horizontal">
      <div class="swiper-wrapper ">
         <div class="swiper-slide client-slide">
      		<%= image_tag("vinh.jpg", typeof: "foaf:Image", size: '170',:alt => "img") %> 
             </div>
      <div class="swiper-slide client-slide">
      
      
          <%= image_tag("hau.jpg", typeof: "foaf:Image", size: '170',:alt => "img") %>    
        </div>
      <div class="swiper-slide client-slide">
      
          <%= image_tag("den.jpg", typeof: "foaf:Image", size: '170',:alt => "img") %>   
        </div>
  
      </div>
      <div class="pagination pagination-hide"></div>
      <div class="swiper-arrow-left"><img src="/assets/h-l-arrow.png" alt="img"/></div>
      <div class="swiper-arrow-right"><img src="/assets/h-arrow.png" alt="img"/></div>
    </div>
  
  
  
  
  
    
      <div class="testimonials-block">
        <div class="testimonials-item">
      
          <div>
  <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i>
</div>
<h3>Đức Vinh</h3>
<blockquote class="blockquote">
  Study at the University of Danang, University of Science and Technology
  <br>
                             Birthday: 26/09/1997
  
</blockquote>
    </div>
 
  <div class="testimonials-item">
      
          <div>
  <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i>
</div>
<h3>Minh Hậu</h3>
<blockquote class="blockquote">
  Study at the University of Danang, University of Science and Technology
  <br>
                             Birthday: 12/01/1997
</blockquote>
    </div>
  
  <div class="testimonials-item">
      
          <div>
  <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i>
</div>
<h3>Phạm Đến</h3>
<blockquote class="blockquote">
  Study at the University of Danang, University of Science and Technology
  <br>
                             Birthday: 12/01/1997
</blockquote>
    </div>

  </div><!-- /.testimonials-container -->
  
  
  
</section>  </div>
</div>
  </div>