<%= render 'inc/header' %>
<div class="container_a_12">
<!-- Account overview -->
 <div class="grid_main_r">
               <div class="module123">

<% provide(:button_text, 'Save changes') %>
<h1>Edit Booking</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= render 'formedit', booking: @booking %>

<%= link_to 'Back', bookings_path %>
 </div>
</div>
 </div>  <!-- End .module -->
                <div style="clear:both;"></div>
                <div class="padding-bottom"></div>
            </div> <!-- End .grid_5 -->
            
            <div style="clear:both;"></div>

<%= render 'inc/footer'%>

