
<%= render 'inc/header' %>
<div class="container_a_12">
<!-- Account overview -->
 <div class="grid_main_r">
               <div class="module123">
     <h2 style="text-align: center;"><span>Thêm User</span></h2>

      
      <% provide(:button_text, 'Create my account') %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <br>
          <br>
          <%= render 'form' %>
        </div>
      </div>

 <%= render 'inc/footer'%>
