<%= render "inc/header" %>
        
    <div class="container_a_12">
            
            <!-- Dashboard icons -->
            <div class="grid_main_l">
              <a href="../news/new" class="dashboard-module123">
                  <img src="/assets/images/Crystal_Clear_write.gif" width="64" height="64" alt="edit" />
                  <span>Thêm News</span>
                </a>
                
                <a href="../locals/new" class="dashboard-module123">
                  <img src="/assets/images/Crystal_Clear_files.gif" width="64" height="64" alt="edit" />
                  <span>Thêm Local</span>
                </a>
                <div style="clear: both"></div>
            </div> <!-- End .grid_7 -->
            
            <!-- Account overview -->
            <div class="grid_main_r">
                <div class="module123">
                        <h2><span>Quản trị hệ thống</span></h2>
                        
                        <div class="module123-body">
                          <p class="p">
                                <strong>Phần mềm</strong> được viết trên nền tảng Ruby On Rails <br />
                                <strong>Email: </strong>dntours123@gmail.com<br /> 
                                <strong>Phone: </strong>0123.456.789<br />
                            </p>
                        </div>
                </div>
                <div style="clear:both;"></div>
                <div class="padding-bottom"></div>
            </div> <!-- End .grid_5 -->
            
            <div style="clear:both;"></div>
            
            
        <%= render 'inc/footer'%>
