<h3>DNTours</h3>
<p>
    Dear <b><%= @booking.customer %></b>,
</p>
 
<p>
    Thank you for booking tour: <%= @booking.tour.tour_name %>
</p>

 

<p>Thanks for booking with <b>DNTours</b> and best regards.</p>

<b>Contact</b>
<p><b>Gmail: </b>dntours123@gmail.com</p>
<p><b>Facebook: </b>https://www.facebook.com/DNToursVietNam</p>
<p><b>Phone: </b>0123.456.789</p>