 <!--<div style="clear:both;"></div>
                <div class="padding-bottom"></div>
            </div>
            
            <div style="clear:both;"></div> -->
 <!-- Footer -->
        <div id="footer">
          <div class="container_a_12">
              <div class="grid_12">
                  <p>Hãy đến với chúng tôi! DANANGTOURS</p>
            </div>
            </div>
            <div style="clear:both;"></div>
        </div> <!-- End #footer -->
  </body>
</html>
